p{
  color:rgb(0, 0, 0);
  margin-left: 20px;
}

h1 {
  position: senter;
  padding: 0.5em;
  background: rgb(206, 224, 140);
  color: rgb(0, 0, 0);
}

h1::before {
  position: absolute;
  content: '';
  top: 100%;
  left: 0;
  border: none;
  border-bottom: solid 15px transparent;
  border-right: solid 20px rgb(149, 158, 155);
}

body {
  background-color: rgb(252, 244, 223);
}

h2 {
  display: flex;          /* フレックスボックスにする */
  flex-direction: row;    /* 横向きに表示（column に変更すると縦向きに表示） */

  width: 750px;
  border: 1px solid gray;
  padding: 5px 5px 5px 0;
}

/*h2 {
  flex: 2;                 横幅2で表示 

  background-color: cyan;
  margin-left: 5px;
}*/

h2 {
  flex: 1;                /* 横幅1で表示 */
  background-color: rgb(206, 224, 140);
  margin-left: 5px;
}

h2 {
  color:rgb(0, 0, 0);
}